/* Complete the CSS styling according to the provided design */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    background-image: url("/images/table.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.mobil {
    visibility: hidden;
}

.container {
    display: flex;
    width: 50%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.container .content {
    margin: 7px;
    align-items: center;
}

.other {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid goldenrod 15px;
    border-style: ridge;
    padding: 20px;
}

.title {
    background-image: url(/images/cards.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70px;
    height: 250px;
}

h1 {
    margin: 0;
    color: goldenrod;
    text-decoration: overline;
    text-decoration: underline;
}

#message-el {
    font-style: italic;
}

button {
    background: goldenrod;

    color: #016f32;
    border: none;
    border-radius: 2px;
    padding: 10px;
    font-weight: bold;
    margin: 5px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .container {
        width: 100%;
        font-size: 60;
    }

    .title {
        background-image: url(/images/cards.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 100px;
        height: 390px;
    }
}
