/* Complete the CSS styling according to the provided design */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    background-image: url("/images/table.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    display: flex;
    width: 50%;
    height: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.container .content {
    margin: 7px;
    align-items: center;
}

.other {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black;
}

h1 {
    margin: 0;
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    background: goldenrod;
    width: 150px;
    color: #016f32;
    border: none;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    /* For tablets: */
    body {
        background: white;
    }
}
